/* ./style.css */

body {
  margin: 0;
  background: #E0CA3C;
  font-family: 'Orbitron', sans-serif;
  color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hud {
  display: flex;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.dial {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
	margin: 40px;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.clock #time {
  font-size: 48px;
  margin: 0;
}

.clock #date {
  font-size: 24px;
  margin: 0;
}